#container-header,
#container-beatmap_list {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

#container-header {
	height: 140px;
	background-color: rgba(10, 10, 10, 1);
}

#container-beatmap_list {
	height: calc(100% - 160px);
}
