#container-header,
#container-beatmap_list {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

#container-header {
	height: 140px;
	background-color: rgb(10, 10, 10);
}

#container-beatmap_list {
	height: calc(100% - 140px);
	background-color: rgb(15, 15, 15);
}
