#header-logo {
	position: absolute;
	width: 400px;
	height: 120px;
	left: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	transform: translateX(-50%);
	/* background */
	background-image: url(../assets/logo-header.png);
	background-size: cover;
}
